// Colors 
$clr-bg: #95E2FB;
$clr-lp-text: black;
$clr-chat-bg: #4F7C87;
$clr-chat-text: white;
$clr-chat-sec: rgba(255, 255, 255, 0.4);
$clr-chat-bot-msg-bg: rgba(white, 0.2);
$clr-chat-user-msg-bg: rgba(black, 0.2);
$clr-scrollbar-bg: rgba(#3F636C, 0.5);

// Body 
body {
  background-color: $clr-bg;
  overflow: hidden;
}

// Scrollbar
::-webkit-scrollbar {
  border-radius: 1em;
  width: 0.5em; /* Width of the scrollbar */
  background-color: $clr-scrollbar-bg; /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: $clr-chat-user-msg-bg; /* Color of the thumb */
  border-radius: 1em; /* Rounded edges of the thumb */
}

// Mixins
@mixin hover {
  // Apply hover effect only to devices that support it
  @media(hover: hover) {
    &:hover {
      cursor: pointer;
      @content
    }
  }
  &:active {
    transform: scale(0.7);
  }
}

@mixin message {
  max-width: 80%;
  padding: 0.5em 1em;
  border-radius: 1em;
  white-space: pre-line;
}

@mixin slide-out-left {
  &.slide-out {
    animation: slide-out-left 1s ease-in;
    animation-fill-mode: forwards;
  }
}

@mixin slide-out-right {
  &.slide-out {
    animation: slide-out-right 1s ease-in;
    animation-fill-mode: forwards;
  }
}

// Media queries
@media (max-width: 1175px) {
  .landing-page__bg-chat-icon {
    font-size: clamp(0.5rem, -1.5rem + 3.3vw, 1rem);
  }
}

@media (max-width: 960px) {
  .landing-page {
    align-items: center;
    text-align: center;
  }

  .landing-page__bg-chat-icon {
    display: none;
  }
}

@media (max-width: 600px) {
  .landing-page {
    font-size: clamp(0.7em, 0.39rem + 1.60vw, 1em);
  }
}

// Animations
@keyframes slide-in-left {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotation {
  from {transform: rotate(0deg)}
  to   {transform: rotate(360deg)}
}

@keyframes counter-rotation {
  from {transform: rotate(360deg)}
  to   {transform: rotate(0deg)}
}

@keyframes reveal {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}
 
@keyframes scale-in-center {
  0% {
    transform: scale(0) translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateX(-50%);
    opacity: 1;
  }
}