.chat {
  font-family: 'Roboto', sans-serif;
  color: $clr-chat-text;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  width: 100vw;
  // Height set in % so that on mobile height will not include adress bar
  height: 100%;
  padding: 0.5em 0.5em 1em;

  animation: scale-in-center 2s cubic-bezier(0.33,0,0.33,1);
  background-color: $clr-chat-bg;
  box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    gap: 0.5em;
    align-items: center;

    &__icon {
      width: 2em;
    }

    &__top-text {
      font-size: 0.9em;
      font-weight: 700;
    }

    &__bottom-text {
      font-size: 0.8em;
      color: $clr-chat-sec;
    }
  }

  &__conversation {
    margin-block: 0.5em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    // Added this wrapper and margin-top auto to retain scroll functionality, apllying 
    // justify-content: flex-end to the upper div scroll didnt work
    &__wrapper {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .bot-message{
        margin-top: 3em;
        display: flex;
        gap: 1em;
      
        &__chat-head {
          margin-top: auto;
          height: 1.5em;
        }
      
        &__typing {
          font-size: 1.25em;
          color: $clr-chat-sec;
        }
      
        &__text {
          @include message;
          background-color: $clr-chat-bot-msg-bg;
        }
      }

      .user-message {
        margin-top: 3em;
        @include message;
        align-self: flex-end;
        margin-right: 0.5em;
        background-color: $clr-chat-user-msg-bg;
      }
    }
  }
}
