/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove styling from links */
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

body {
  background-color: #95E2FB;
  overflow: hidden;
}

::-webkit-scrollbar {
  border-radius: 1em;
  width: 0.5em; /* Width of the scrollbar */
  background-color: rgba(63, 99, 108, 0.5); /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color of the thumb */
  border-radius: 1em; /* Rounded edges of the thumb */
}

@media (max-width: 1175px) {
  .landing-page__bg-chat-icon {
    font-size: clamp(0.5rem, -1.5rem + 3.3vw, 1rem);
  }
}
@media (max-width: 960px) {
  .landing-page {
    align-items: center;
    text-align: center;
  }
  .landing-page__bg-chat-icon {
    display: none;
  }
}
@media (max-width: 600px) {
  .landing-page {
    font-size: clamp(0.7em, 0.39rem + 1.6vw, 1em);
  }
}
@media (min-width: 800px) {
  .chat {
    font-size: 1.2em;
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes counter-rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0) translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateX(-50%);
    opacity: 1;
  }
}
.landing-page {
  font-family: "Hammersmith One", sans-serif;
  max-width: 81em;
  height: 100vh;
  margin-inline: auto;
  padding-inline: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.landing-page__logo {
  width: 16em;
  margin-inline: auto;
  animation: slide-in-right 1s ease-out;
}
.landing-page__logo.slide-out {
  animation: slide-out-right 1s ease-in;
  animation-fill-mode: forwards;
}
.landing-page__title {
  font-size: 3em;
  max-width: 13em;
  line-height: 1.2;
  animation: slide-in-left 1.5s ease-out;
}
.landing-page__title span {
  font-weight: 700;
}
.landing-page__title.slide-out {
  animation: slide-out-left 1s ease-in;
  animation-fill-mode: forwards;
}
.landing-page__description {
  font-size: 1.4em;
  max-width: 43em;
  width: 90%;
  animation: slide-in-left 2s ease-out;
}
.landing-page__description.slide-out {
  animation: slide-out-left 1s ease-in;
  animation-fill-mode: forwards;
}
.landing-page__cta {
  font-size: 1.25em;
  color: white;
  width: 9.5em;
  height: 3em;
  margin-inline: auto;
  background-color: black;
  border-radius: 0.8em;
  transition: 0.4s;
  animation: slide-in-right 2.5s cubic-bezier(0.83, 0.27, 0.27, 0.86);
}
.landing-page__cta.slide-out {
  animation: slide-out-right 1s ease-in;
  animation-fill-mode: forwards;
}
@media (hover: hover) {
  .landing-page__cta:hover {
    cursor: pointer;
    scale: 1.1;
    box-shadow: inset 9.5em 0 0 0 #4d4d4d;
  }
}
.landing-page__cta:active {
  transform: scale(0.7);
}
.landing-page__bg-logo {
  height: 90vh;
  position: absolute;
  right: 0;
  top: 5%;
  z-index: -1;
  animation: reveal 2s ease-in-out;
}
.landing-page__bg-logo.slide-out {
  animation: slide-out-right 1s ease-in;
  animation-fill-mode: forwards;
}
.landing-page__bg-logo .big-gear {
  transform-box: fill-box;
  transform-origin: center;
  animation: counter-rotation 10s infinite linear;
}
.landing-page__bg-logo .small-gear {
  transform-box: fill-box;
  transform-origin: center;
  animation: rotation 10s infinite linear;
}
.landing-page__bg-chat-icon {
  width: 29em;
  position: absolute;
  bottom: 0;
  z-index: -1;
  animation: reveal 2s ease-in-out;
}
.landing-page__bg-chat-icon.slide-out {
  animation: slide-out-left 1s ease-in;
  animation-fill-mode: forwards;
}

.chat {
  font-family: "Roboto", sans-serif;
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  width: 100vw;
  height: 100%;
  padding: 0.5em 0.5em 1em;
  animation: scale-in-center 2s cubic-bezier(0.33, 0, 0.33, 1);
  background-color: #4F7C87;
  box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}
.chat__header {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.chat__header__icon {
  width: 2em;
}
.chat__header__top-text {
  font-size: 0.9em;
  font-weight: 700;
}
.chat__header__bottom-text {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.4);
}
.chat__conversation {
  margin-block: 0.5em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.chat__conversation__wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat__conversation__wrapper .bot-message {
  margin-top: 3em;
  display: flex;
  gap: 1em;
}
.chat__conversation__wrapper .bot-message__chat-head {
  margin-top: auto;
  height: 1.5em;
}
.chat__conversation__wrapper .bot-message__typing {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.4);
}
.chat__conversation__wrapper .bot-message__text {
  max-width: 80%;
  padding: 0.5em 1em;
  border-radius: 1em;
  white-space: pre-line;
  background-color: rgba(255, 255, 255, 0.2);
}
.chat__conversation .user-message {
  margin-top: 3em;
  max-width: 80%;
  padding: 0.5em 1em;
  border-radius: 1em;
  white-space: pre-line;
  align-self: flex-end;
  margin-right: 0.5em;
  background-color: rgba(0, 0, 0, 0.2);
}

.inputs {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2em;
  padding: 0.6em;
  display: flex;
}
.inputs__text-input {
  color: white;
  width: 100%;
  margin-inline: 1em;
  background-color: transparent;
  border: none;
  outline: none;
}
.inputs__text-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.inputs__send {
  width: 2em;
  position: relative;
  transition: all 0.5s ease;
}
.inputs__send:after {
  content: "";
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  width: calc(100% + 1em);
  height: calc(100% + 1em);
  border-radius: 50%;
  transition: all 0.5s ease;
  background-color: transparent;
}
@media (hover: hover) {
  .inputs__send:hover {
    cursor: pointer;
  }
  .inputs__send:hover:after {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
.inputs__send:active {
  transform: scale(0.7);
}/*# sourceMappingURL=main.css.map */